## Cleaning data ‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏ó‡∏µ‡πà‡∏°‡∏≤‡∏à‡∏≤‡∏Å Twitter ##

In [1]:
import pandas as pd

In [2]:
# open file
df_covid_th = pd.read_excel('D:/my_data/covid19_th.xlsx')
df_covid_en = pd.read_excel('D:/my_data/covid19_en.xlsx')
df_ebola_en    = pd.read_excel('D:/my_data/ebola_en.xlsx')

### ‡πÄ‡∏ä‡πá‡∏Ñ‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏• ###

In [3]:
df_covid_th.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 8 columns):
Id                 2000 non-null int64
username           2000 non-null object
location           1275 non-null object
time_stamp         2000 non-null datetime64[ns]
text               2000 non-null object
followers_count    2000 non-null int64
retweet_count      2000 non-null int64
favorite_count     2000 non-null int64
dtypes: datetime64[ns](1), int64(4), object(3)
memory usage: 125.1+ KB

In [4]:
df_covid_en.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 8 columns):
Id                 2000 non-null int64
username           2000 non-null object
location           1639 non-null object
time_stamp         2000 non-null datetime64[ns]
text               2000 non-null object
followers_count    2000 non-null int64
retweet_count      2000 non-null int64
favorite_count     2000 non-null int64
dtypes: datetime64[ns](1), int64(4), object(3)
memory usage: 125.1+ KB

In [5]:
df_ebola_en.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 8 columns):
Id                 2000 non-null int64
username           2000 non-null object
location           1587 non-null object
time_stamp         2000 non-null datetime64[ns]
text               2000 non-null object
followers_count    2000 non-null int64
retweet_count      2000 non-null int64
favorite_count     2000 non-null int64
dtypes: datetime64[ns](1), int64(4), object(3)
memory usage: 125.1+ KB

### ‡∏à‡∏∞‡πÄ‡∏´‡πá‡∏ô‡πÑ‡∏î‡πâ‡∏ß‡πà‡∏≤ column location ‡∏°‡∏µ missing value ###
* ‡∏™‡πà‡∏ß‡∏ô column location ‡∏Ç‡∏≠‡∏á df_covid_th ‡∏ó‡∏≥‡∏Å‡∏≤‡∏£‡∏™‡∏°‡∏°‡∏ï‡∏¥‡∏Ñ‡πà‡∏≤‡πÉ‡∏´‡πâ‡πÄ‡∏õ‡πá‡∏ô Thailand ‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î ‡πÄ‡∏û‡∏£‡∏≤‡∏∞‡∏ó‡∏≥‡∏Å‡∏≤‡∏£‡∏™‡∏°‡∏°‡∏ï‡∏¥‡πÉ‡∏´‡πâ‡πÄ‡∏õ‡πá‡∏ô‡∏Å‡∏≤‡∏£ tweet ‡∏à‡∏≤‡∏Å‡∏õ‡∏£‡∏∞‡πÄ‡∏ó‡∏®‡πÑ‡∏ó‡∏¢‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î
* ‡∏™‡πà‡∏ß‡∏ô column location ‡∏Ç‡∏≠‡∏á df_covid_en , df_ebola_en ‡πÄ‡∏£‡∏≤‡∏à‡∏∞‡∏ó‡∏≥‡∏Å‡∏≤‡∏£‡∏•‡∏ö row ‡∏ó‡∏µ‡πà‡∏°‡∏µ‡∏Ñ‡πà‡∏≤ NAN ‡∏ó‡∏¥‡πâ‡∏á ‡πÄ‡∏û‡∏£‡∏≤‡∏∞‡πÑ‡∏°‡πà‡∏™‡∏≤‡∏°‡∏≤‡∏£‡∏ñ‡∏™‡∏°‡∏°‡∏ï‡∏¥‡πÑ‡∏î‡πâ‡∏ß‡πà‡∏≤‡∏à‡∏∞‡πÉ‡∏´‡πâ‡πÄ‡∏õ‡πá‡∏ô‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏´‡∏£‡∏∑‡∏≠‡∏õ‡∏£‡∏∞‡πÄ‡∏ó‡∏®‡πÉ‡∏î

In [6]:
df_covid_th.location = 'Thailand'
df_covid_en = df_covid_en.dropna()
df_ebola_en = df_ebola_en.dropna()

#### ‡∏ó‡∏≥‡∏Å‡∏≤‡∏£‡∏ï‡∏£‡∏ß‡∏à‡∏™‡∏≠‡∏ö‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏≠‡∏µ‡∏Å‡∏£‡∏≠‡∏ö ####

In [7]:
df_covid_th.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 8 columns):
Id                 2000 non-null int64
username           2000 non-null object
location           2000 non-null object
time_stamp         2000 non-null datetime64[ns]
text               2000 non-null object
followers_count    2000 non-null int64
retweet_count      2000 non-null int64
favorite_count     2000 non-null int64
dtypes: datetime64[ns](1), int64(4), object(3)
memory usage: 125.1+ KB

In [8]:
df_covid_en.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1639 entries, 1 to 1998
Data columns (total 8 columns):
Id                 1639 non-null int64
username           1639 non-null object
location           1639 non-null object
time_stamp         1639 non-null datetime64[ns]
text               1639 non-null object
followers_count    1639 non-null int64
retweet_count      1639 non-null int64
favorite_count     1639 non-null int64
dtypes: datetime64[ns](1), int64(4), object(3)
memory usage: 115.2+ KB

In [9]:
df_ebola_en.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1587 entries, 0 to 1999
Data columns (total 8 columns):
Id                 1587 non-null int64
username           1587 non-null object
location           1587 non-null object
time_stamp         1587 non-null datetime64[ns]
text               1587 non-null object
followers_count    1587 non-null int64
retweet_count      1587 non-null int64
favorite_count     1587 non-null int64
dtypes: datetime64[ns](1), int64(4), object(3)
memory usage: 111.6+ KB

### ‡∏ó‡∏≥‡∏Å‡∏≤‡∏£‡∏•‡∏ö‡∏≠‡∏±‡∏Å‡∏Ç‡∏£‡∏∞‡∏û‡∏¥‡πÄ‡∏®‡∏© ‡πÉ‡∏ô column text ###

In [10]:
df_covid_th.head()

,Id,username,location,time_stamp,text,followers_count,retweet_count,favorite_count
0,362503379,Purebloodsz,Thailand,2020-03-19 07:57:29,‡∏ß‡πà‡∏≤‡πÅ‡∏ï‡πà‡πÄ‡∏ó‡∏£‡∏ô‡πÄ‡∏ô‡∏≠‡∏£‡πå‡∏ó‡∏µ‡πà‡πÑ‡∏´‡∏ô‡πÄ‡∏ô‡∏µ‡πâ‡∏¢ ‡πÅ‡∏•‡πâ‡∏ß‡∏Å‡πà‡∏≠‡∏ô‡∏´‡∏ô‡πâ‡∏≤‡∏ô‡∏µ‡πâ‡πÄ‡∏Ñ‡πâ‡∏≤...,38309,0,0
1,856823519107316992,proxumer,Thailand,2020-03-19 07:57:25,COVID -19 ‡πÑ‡∏Ç‡πâ‡∏´‡∏ß‡∏±‡∏î ‡∏´‡∏£‡∏∑‡∏≠‡∏†‡∏π‡∏°‡∏¥‡πÅ‡∏û‡πâ üò∑ ‡πÅ‡∏ï‡πà‡πÄ‡∏£‡∏≤‡∏™‡∏≤‡∏°‡∏≤‡∏£‡∏ñ #...,5781,0,0
2,723891243340587008,whathcn,Thailand,2020-03-19 07:57:05,‡∏Ç‡∏≤‡∏¢ üìçüìçüìçüìçüìç ‡∏û‡∏∂‡πà‡∏á‡∏™‡∏°‡∏±‡∏Ñ‡∏£‡∏ß‡∏±‡∏ô‡∏ô‡∏µ‡πâ‡∏Ñ‡πà‡∏∞ 19/3/63\n‡πÅ‡∏û‡πá‡∏Å‡πÄ‡∏Å‡∏à ...,0,0,0
3,1116699085166140032,sorkorlao,Thailand,2020-03-19 07:57:03,‡∏Ñ‡∏ô‡πÑ‡∏ó‡∏¢‡∏Ñ‡πâ‡∏≠‡∏á‡∏ä‡πà‡∏ß‡∏¢‡∏Å‡∏±‡∏ô \n\n‡∏≠‡∏¢‡πà‡∏≤‡∏´‡∏ß‡∏±‡∏á‡∏û‡∏∂‡πà‡∏á‡∏û‡∏≤‡∏•‡∏∏‡∏á\n\n#‡πÇ‡∏Ñ‡∏ß...,39917,0,0
4,2479547882,BrightTodayTh,Thailand,2020-03-19 07:56:56,‡∏™‡∏≤‡∏ò‡∏≤‡∏£‡∏ì‡∏™‡∏∏‡∏Ç ‡πÅ‡∏ñ‡∏•‡∏á‡∏™‡∏ñ‡∏≤‡∏ô‡∏Å‡∏≤‡∏£‡∏ì‡πå ‡πÇ‡∏£‡∏Ñ‡πÇ‡∏Ñ‡∏ß‡∏¥‡∏î-19 ‡∏ß‡∏±‡∏ô‡∏ó‡∏µ‡πà 19 ...,41058,1,0

In [11]:
df_covid_en.head()

,Id,username,location,time_stamp,text,followers_count,retweet_count,favorite_count
1,2965655845,Fukkard,"Hyderabad, India",2020-03-19 07:36:11,A word of caution from Mega Star Chiranjeevi g...,92184,0,0
2,31264880,AFNtelevision,"March ARB, California",2020-03-19 07:36:11,‚Äú...because every red light eventually turns g...,4908,0,0
3,1182257542455539968,nukelda1,"London, England",2020-03-19 07:36:09,Day 3 in quarantine #coronavirus #londonlockdo...,7,0,0
4,4732405876,sindaniv,"Bungoma, Kenya",2020-03-19 07:36:09,"When you experience high body temperatures, fe...",1453,0,0
6,28541686,DrAlexShehata,GVA | Cairo | NYC | Montclair,2020-03-19 07:36:07,Here a few ideas/observations I had about #COV...,758,0,0

In [12]:
df_ebola_en.head()

,Id,username,location,time_stamp,text,followers_count,retweet_count,favorite_count
0,1024331753941619968,MDMEDICINE1,United Arab Emirates,2020-03-19 08:55:08,@WHO #pandemic expert @DrMikeRyan: ‚Äúwhat we le...,47,1,1
1,853736260397084032,BeeNewsDaily,United States,2020-03-19 08:55:07,"#KungFlu, #KungFuTea, and #Ebola are not raci...",4161,1,1
2,1024331753941619968,MDMEDICINE1,United Arab Emirates,2020-03-19 08:45:31,@WHO #pandemic expert @DrMikeRyan: ‚ÄúWhat we le...,47,0,0
3,3402412635,ADFmagazine,Africa,2020-03-19 08:45:08,#SierraLeone President Bio engages members of ...,374,0,0
4,18754412,MacJordaN,ACC/YFB/YEG/SFO/NBO/YYZ,2020-03-19 08:43:18,Update from #Liberia üá±üá∑: \n\nThe country is ap...,16928,0,1

### ‡∏™‡∏£‡πâ‡∏≤‡∏á‡∏ü‡∏±‡∏á‡∏Å‡πå‡∏ä‡∏±‡∏ô ‡∏•‡∏ö‡∏≠‡∏±‡∏Å‡∏Ç‡∏£‡∏∞ ‡πÑ‡∏≠‡∏Ñ‡∏≠‡∏ô ‡∏™‡∏ï‡∏¥‡πä‡∏Å‡πÄ‡∏Å‡∏≠‡∏£‡πå###

In [13]:
import re
import sys
import string

In [14]:
# function ‡∏•‡∏ö icon
def remove_emoji(string):
    emoji_pattern = re.compile("["
                           u"\U0001F600-\U0001F64F"  # emoticons
        u"\U0001F300-\U0001F5FF"  # symbols & pictographs
        u"\U0001F680-\U0001F6FF"  # transport & map symbols
        u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
        u"\U00002500-\U00002BEF"  # chinese char
        u"\U00002702-\U000027B0"
        u"\U00002702-\U000027B0"
        u"\U000024C2-\U0001F251"
        u"\U0001f926-\U0001f937"
        u"\U00010000-\U0010ffff"
        u"\u2640-\u2642" 
        u"\u2600-\u2B55"
        u"\u200d"
        u"\u23cf"
        u"\u23e9"
        u"\u231a"
        u"\ufe0f"  # dingbats
        u"\u3030"
                           "]+", flags=re.UNICODE)
    return emoji_pattern.sub(r'', string)

In [15]:
# ‡∏™‡∏£‡πâ‡∏≤‡∏á function ‡πÄ‡∏û‡∏∑‡πà‡∏≠‡∏•‡∏ö‡∏≠‡∏±‡∏Å‡∏Ç‡∏£‡∏∞‡∏ï‡πà‡∏≤‡∏á‡πÜ
def remove_punct(text):
    text  = "".join([char for char in text if char not in string.punctuation])
    text = re.sub('[0-9]+', '', text)
    return text

In [16]:
# ‡∏•‡∏ö URL
df_covid_th.text = df_covid_th.text.replace(r'http\S+', '', regex=True).replace(r'www\S+', '', regex=True)
df_covid_en.text = df_covid_en.text.replace(r'http\S+', '', regex=True).replace(r'www\S+', '', regex=True)
df_ebola_en.text = df_ebola_en.text.replace(r'http\S+', '', regex=True).replace(r'www\S+', '', regex=True)

In [17]:
 #‡∏•‡∏ö icon
df_covid_th.text = df_covid_th.text.apply(lambda x : remove_emoji(x))
df_covid_en.text = df_covid_en.text.apply(lambda x : remove_emoji(x))
df_ebola_en.text = df_ebola_en.text.apply(lambda x : remove_emoji(x))

In [18]:
#‡∏•‡∏ö ‡∏≠‡∏±‡∏Å‡∏Ç‡∏£‡∏∞
df_covid_th.text = df_covid_th.text.apply(lambda x : remove_punct(x)) 
df_covid_en.text = df_covid_en.text.apply(lambda x : remove_punct(x))  
df_ebola_en.text = df_ebola_en.text.apply(lambda x : remove_punct(x))

In [19]:
# ‡∏•‡∏ö‡πÄ‡∏Ñ‡∏£‡∏∑‡πà‡∏≠‡∏á‡∏´‡∏°‡∏≤‡∏¢ ‡πÄ‡∏û‡∏¥‡πà‡∏°‡πÄ‡∏ï‡∏¥‡∏°‡∏à‡∏≤‡∏Å‡∏ü‡∏±‡∏á‡∏Å‡πå‡∏ä‡∏±‡∏ô
df_covid_th.text = df_covid_th.text.str.replace('\n','').str.replace('\n\n','').str.replace('\n\n\n','').str.replace('‡∏ø','').str.replace('üá±üá∑ ','').str.replace('\u200b','')
df_covid_en.text = df_covid_en.text.str.replace('\n','').str.replace('\n\n','').str.replace('\n\n\n','').str.replace('‡∏ø','').str.replace('üá±üá∑ ','').str.replace('\u200b','')
df_ebola_en.text = df_ebola_en.text.str.replace('\n','').str.replace('\n\n','').str.replace('\n\n\n','').str.replace('‡∏ø','').str.replace('üá±üá∑ ','').str.replace('\u200b','')

In [20]:
# ‡∏•‡∏ö‡πÄ‡∏Ñ‡∏£‡∏∑‡πà‡∏≠‡∏á‡∏´‡∏°‡∏≤‡∏¢‡∏Ñ‡∏≥‡∏û‡∏π‡∏î
df_covid_th.text = df_covid_th.text.str.replace('‚Äú','').str.replace('‚Äù','')
df_covid_en.text = df_covid_en.text.str.replace('‚Äú','').str.replace('‚Äù','')
df_ebola_en.text = df_ebola_en.text.str.replace('‚Äú','').str.replace('‚Äù','')

* ‡∏•‡∏≠‡∏á‡∏ï‡∏£‡∏ß‡∏à‡∏™‡∏≠‡∏ö‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏≠‡∏µ‡∏Å‡∏£‡∏≠‡∏ö

In [21]:
df_covid_th.text.head()

0    ‡∏ß‡πà‡∏≤‡πÅ‡∏ï‡πà‡πÄ‡∏ó‡∏£‡∏ô‡πÄ‡∏ô‡∏≠‡∏£‡πå‡∏ó‡∏µ‡πà‡πÑ‡∏´‡∏ô‡πÄ‡∏ô‡∏µ‡πâ‡∏¢ ‡πÅ‡∏•‡πâ‡∏ß‡∏Å‡πà‡∏≠‡∏ô‡∏´‡∏ô‡πâ‡∏≤‡∏ô‡∏µ‡πâ‡πÄ‡∏Ñ‡πâ‡∏≤...
1    COVID  ‡πÑ‡∏Ç‡πâ‡∏´‡∏ß‡∏±‡∏î ‡∏´‡∏£‡∏∑‡∏≠‡∏†‡∏π‡∏°‡∏¥‡πÅ‡∏û‡πâ  ‡πÅ‡∏ï‡πà‡πÄ‡∏£‡∏≤‡∏™‡∏≤‡∏°‡∏≤‡∏£‡∏ñ ‡πÄ‡∏ä‡πá‡∏Å‡∏≠...
2    ‡∏Ç‡∏≤‡∏¢  ‡∏û‡∏∂‡πà‡∏á‡∏™‡∏°‡∏±‡∏Ñ‡∏£‡∏ß‡∏±‡∏ô‡∏ô‡∏µ‡πâ‡∏Ñ‡πà‡∏∞ ‡πÅ‡∏û‡πá‡∏Å‡πÄ‡∏Å‡∏à   ‡πÄ‡∏î‡∏∑‡∏≠‡∏ô‡∏Ñ‡πà‡∏∞ ‡∏Ç‡∏≤‡∏¢...
3    ‡∏Ñ‡∏ô‡πÑ‡∏ó‡∏¢‡∏Ñ‡πâ‡∏≠‡∏á‡∏ä‡πà‡∏ß‡∏¢‡∏Å‡∏±‡∏ô ‡∏≠‡∏¢‡πà‡∏≤‡∏´‡∏ß‡∏±‡∏á‡∏û‡∏∂‡πà‡∏á‡∏û‡∏≤‡∏•‡∏∏‡∏á‡πÇ‡∏Ñ‡∏ß‡∏¥‡∏ó ‡πÇ‡∏Ñ‡∏ß‡∏¥‡∏î ...
4    ‡∏™‡∏≤‡∏ò‡∏≤‡∏£‡∏ì‡∏™‡∏∏‡∏Ç ‡πÅ‡∏ñ‡∏•‡∏á‡∏™‡∏ñ‡∏≤‡∏ô‡∏Å‡∏≤‡∏£‡∏ì‡πå ‡πÇ‡∏£‡∏Ñ‡πÇ‡∏Ñ‡∏ß‡∏¥‡∏î ‡∏ß‡∏±‡∏ô‡∏ó‡∏µ‡πà  ‡∏°‡∏µ‡∏Ñ ‡∏û...
Name: text, dtype: object

In [22]:
df_covid_th.text.head()

0    ‡∏ß‡πà‡∏≤‡πÅ‡∏ï‡πà‡πÄ‡∏ó‡∏£‡∏ô‡πÄ‡∏ô‡∏≠‡∏£‡πå‡∏ó‡∏µ‡πà‡πÑ‡∏´‡∏ô‡πÄ‡∏ô‡∏µ‡πâ‡∏¢ ‡πÅ‡∏•‡πâ‡∏ß‡∏Å‡πà‡∏≠‡∏ô‡∏´‡∏ô‡πâ‡∏≤‡∏ô‡∏µ‡πâ‡πÄ‡∏Ñ‡πâ‡∏≤...
1    COVID  ‡πÑ‡∏Ç‡πâ‡∏´‡∏ß‡∏±‡∏î ‡∏´‡∏£‡∏∑‡∏≠‡∏†‡∏π‡∏°‡∏¥‡πÅ‡∏û‡πâ  ‡πÅ‡∏ï‡πà‡πÄ‡∏£‡∏≤‡∏™‡∏≤‡∏°‡∏≤‡∏£‡∏ñ ‡πÄ‡∏ä‡πá‡∏Å‡∏≠...
2    ‡∏Ç‡∏≤‡∏¢  ‡∏û‡∏∂‡πà‡∏á‡∏™‡∏°‡∏±‡∏Ñ‡∏£‡∏ß‡∏±‡∏ô‡∏ô‡∏µ‡πâ‡∏Ñ‡πà‡∏∞ ‡πÅ‡∏û‡πá‡∏Å‡πÄ‡∏Å‡∏à   ‡πÄ‡∏î‡∏∑‡∏≠‡∏ô‡∏Ñ‡πà‡∏∞ ‡∏Ç‡∏≤‡∏¢...
3    ‡∏Ñ‡∏ô‡πÑ‡∏ó‡∏¢‡∏Ñ‡πâ‡∏≠‡∏á‡∏ä‡πà‡∏ß‡∏¢‡∏Å‡∏±‡∏ô ‡∏≠‡∏¢‡πà‡∏≤‡∏´‡∏ß‡∏±‡∏á‡∏û‡∏∂‡πà‡∏á‡∏û‡∏≤‡∏•‡∏∏‡∏á‡πÇ‡∏Ñ‡∏ß‡∏¥‡∏ó ‡πÇ‡∏Ñ‡∏ß‡∏¥‡∏î ...
4    ‡∏™‡∏≤‡∏ò‡∏≤‡∏£‡∏ì‡∏™‡∏∏‡∏Ç ‡πÅ‡∏ñ‡∏•‡∏á‡∏™‡∏ñ‡∏≤‡∏ô‡∏Å‡∏≤‡∏£‡∏ì‡πå ‡πÇ‡∏£‡∏Ñ‡πÇ‡∏Ñ‡∏ß‡∏¥‡∏î ‡∏ß‡∏±‡∏ô‡∏ó‡∏µ‡πà  ‡∏°‡∏µ‡∏Ñ ‡∏û...
Name: text, dtype: object

### ‡∏ó‡∏≥‡∏Å‡∏≤‡∏£ export ‡∏•‡∏á‡πÄ‡∏Ñ‡∏£‡∏∑‡πà‡∏≠‡∏á ###

In [23]:
df_covid_th.to_excel(r'D:\my_data\clean\twitter_covid_th_cleaned.xlsx', encoding='utf-8-sig', index = False)
df_covid_en.to_excel(r'D:\my_data\clean\twitter_covid_en_cleaned.xlsx', encoding='utf-8-sig', index = False)
df_ebola_en.to_excel(r'D:\my_data\clean\twitter_ebola_en_cleaned.xlsx', encoding='utf-8-sig', index = False)