## Cleaning Data  ข้อมูลที่มาจาก Reddit ##

In [1]:
# import libary
import pandas as pd

In [26]:
# path to open file
path_covid = 'D:/my_data/reddit_covid19.xlsx'
path_ebola = 'D:/my_data/reddit_ebola.xlsx'

In [81]:
# open file
df_covid = pd.read_excel(path_covid)
df_ebola = pd.read_excel(path_ebola)

### ทำการตรวจสอบค่า missing value ###

In [28]:
df_covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 836 entries, 0 to 835
Data columns (total 7 columns):
title        836 non-null object
score        836 non-null int64
id           836 non-null object
url          836 non-null object
comms_num    836 non-null int64
body         278 non-null object
timestamp    836 non-null datetime64[ns]
dtypes: datetime64[ns](1), int64(2), object(4)
memory usage: 45.8+ KB

In [29]:
df_covid.shape

(836, 7)

df_ebola.info()

### ตัด column body ###

In [82]:
df_covid = df_covid.drop(columns=['body'], axis=1)
df_ebola = df_ebola.drop(columns=['body'], axis=1)

In [83]:
df_covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 836 entries, 0 to 835
Data columns (total 6 columns):
title        836 non-null object
score        836 non-null int64
id           836 non-null object
url          836 non-null object
comms_num    836 non-null int64
timestamp    836 non-null datetime64[ns]
dtypes: datetime64[ns](1), int64(2), object(3)
memory usage: 39.3+ KB

In [84]:
df_ebola.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
title        1000 non-null object
score        1000 non-null int64
id           1000 non-null object
url          1000 non-null object
comms_num    1000 non-null int64
timestamp    1000 non-null datetime64[ns]
dtypes: datetime64[ns](1), int64(2), object(3)
memory usage: 47.0+ KB

In [33]:
# ลองแสดงค่าในตาราง
df_covid.head()

,title,score,id,url,comms_num,timestamp
0,Please consider downloading BOINC or folding@h...,2391,fd29vj,https://www.reddit.com/r/COVID19/comments/fd29...,1047,2020-03-04 12:56:00
1,CDC recommends cancelling or postponing all pu...,2184,fjbv0q,https://www.cdc.gov/coronavirus/2019-ncov/comm...,444,2020-03-16 15:35:00
2,“We were able to ascertain that patients who h...,1998,fkizd0,https://www.mediterranee-infection.com/wp-cont...,442,2020-03-18 18:33:00
3,Data from SARS outbreak showed that mask weari...,1795,ffy8av,https://www.cochranelibrary.com/cdsr/doi/10.10...,476,2020-03-10 08:26:00
4,Relationship between the ABO Blood Group and t...,1734,fjzjpc,https://www.medrxiv.org/content/10.1101/2020.0...,407,2020-03-17 20:05:00

In [34]:
df_ebola.head()

,title,score,id,url,comms_num,timestamp
0,I met 25-year-old Moses Massaquoi today. He's ...,1956,2jg459,http://i.imgur.com/kLhaux5.jpg,129,2014-10-17 10:43:00
1,"Ebola survivor Christopher, 43, washes blue pa...",1738,2jii6m,http://i.imgur.com/eEhQPJu.jpg,91,2014-10-18 04:12:00
2,Yesterday I showed you the ebola kit on our IC...,1293,2jeilp,http://imgur.com/a/ZQWR4,493,2014-10-17 00:05:00
3,"outside an Ebola hospital, guy pulls a mattres...",995,2j7j4s,http://i.imgur.com/19857Nm.jpg,251,2014-10-15 02:59:00
4,NYC Doctor tests positive for ebola,747,2k5fkp,http://www.nytimes.com/2014/10/24/nyregion/cra...,822,2014-10-24 15:30:00

### ทำการลบ อักขระต่างๆ ออกจาก column title ###

In [89]:
import string
import re

In [91]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [92]:
# สร้าง function เพื่อลับอักขระต่างๆ
def remove_punct(text):
    text  = "".join([char for char in text if char not in string.punctuation])
    text = re.sub('[0-9]+', '', text)
    return text

In [105]:
# call function remove_punct
df_covid.title = df_covid.title.apply(lambda x : remove_punct(x))
df_ebola.title = df_ebola.title.apply(lambda x : remove_punct(x))

In [119]:
# ลบเครื่องหมายคำพูด
df_covid.title = df_covid.title.str.replace('“','').str.replace('”','')
df_ebola.title = df_ebola.title.str.replace('“','').str.replace('”','')

In [122]:
df_covid.title.head()

0    Please consider downloading BOINC or foldingho...
1    CDC recommends cancelling or postponing all pu...
2    We were able to ascertain that patients who ha...
3    Data from SARS outbreak showed that mask weari...
4    Relationship between the ABO Blood Group and t...
Name: title, dtype: object

In [112]:
df_ebola.title.head()

0    I met yearold Moses Massaquoi today Hes a hyge...
1    Ebola survivor Christopher  washes blue paint ...
2    Yesterday I showed you the ebola kit on our IC...
3    outside an Ebola hospital guy pulls a mattress...
4                  NYC Doctor tests positive for ebola
Name: title, dtype: object

In [116]:
# ดูจำนวน Row, column
df_covid.shape

(836, 6)

In [117]:
# ดูจำนวน Row, column
df_ebola.shape

(1000, 6)

### ทำการ export ลงเครื่อง ###

In [123]:
df_covid.to_excel(r'D:\my_data\clean\reddit_covid_en_cleaned.xlsx', encoding='utf-8-sig', index = False)
df_ebola.to_excel(r'D:\my_data\clean\reddit_ebola_en_cleaned.xlsx', encoding='utf-8-sig', index = False)

C:\Users\meech\AppData\Local\Continuum\anaconda3\lib\site-packages\xlsxwriter\worksheet.py:915: UserWarning: Ignoring URL 'https://jamanetwork.com/journals/jama/fullarticle/2762028%20This%20tied%20to%20other%20initial%20research%20is%20of%20concern.%20This%20article%20on%20Children%20https://academic.oup.com/cid/advance-article/doi/10.1093/cid/ciaa198/5766430%20who%20were%20hospitalized%20is%20also%20revealing.%20The%20extremely%20mild%20case%20presentation%20in%20this%20limited%20set%20of%20cases%20and%20the%20implied%20population%20of%20children%20NOT%20hospitalized%20needs%20further%20study%20including%20a%20better%20understanding%20of%20seroprevalence%20in%20children%20utilizing%20serologic%20data%20and/or%20case%20specific%20information%20on%20adult%20cases%20in%20relation%20to%20their%20contact%20with%20children%20where%20other%20potential%20exposures%20can%20be%20excluded.%20%20This%20may%20or%20may%20not%20be%20practical.' with link or location/anchor > 255 characters since it exceeds Excel's limit for URLS
  force_unicode(url))
C:\Users\meech\AppData\Local\Continuum\anaconda3\lib\site-packages\xlsxwriter\worksheet.py:915: UserWarning: Ignoring URL 'https://www.researchgate.net/profile/Jianqing_Wang/publication/339243337_ACE2_Expression_in_Kidney_and_Testis_May_Cause_Kidney_and_Testis_Damage_After_2019-nCoV_Infection/links/5e4bb6be299bf1cdb933e804/ACE2-Expression-in-Kidney-and-Testis-May-Cause-Kidney-and-Testis-Damage-After-2019-nCoV-Infection.pdf' with link or location/anchor > 255 characters since it exceeds Excel's limit for URLS
  force_unicode(url))
C:\Users\meech\AppData\Local\Continuum\anaconda3\lib\site-packages\xlsxwriter\worksheet.py:915: UserWarning: Ignoring URL 'https://www.nature.com/articles/s41591-020-0820-9?utm_source=fbk_nnc&utm_medium=social&utm_campaign=naturenews&utm_medium=social&utm_content=organic&utm_source=facebook&utm_campaign=NatureNews_&sf231597135=1&fbclid=IwAR1sK_7p7J1Djx8ZkEt3k4ARraMmC_2tDLyhTdfVBwmQANa6j9cr19qfCoM' with link or location/anchor > 255 characters since it exceeds Excel's limit for URLS
  force_unicode(url))
C:\Users\meech\AppData\Local\Continuum\anaconda3\lib\site-packages\xlsxwriter\worksheet.py:915: UserWarning: Ignoring URL 'https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=newssearch&cd=1&cad=rja&uact=8&ved=0CB0QqQIoADAA&url=http%3A%2F%2Ffox13now.com%2F2014%2F10%2F03%2Fprimary-childrens-hospital-confirms-patient-does-not-have-ebola%2F&ei=hD0vVOOcNLTGsQTZtICoDw&usg=AFQjCNG9pBIdes91lXiHDnz7PEKijOzitA&sig2=vDgd7Gd6C1oYcWodTC9a5g' with link or location/anchor > 255 characters since it exceeds Excel's limit for URLS
  force_unicode(url))